.grid-container {
  display: grid;
  grid-template: repeat(3, 100px)/ repeat(3, 100px);
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

button {
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(6, 243, 97);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}